* {
  box-sizing: border-box;
  padding: 0%;
}
#mid_div {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  padding: 0px 24px;
}
#heading {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
#things_to_do {
  display: flex;
  width: 15%;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: large;
}
#arrow {
  width: 20px;
  height: 20px;
}
#arrow > img {
  width: 100%;
  height: 100%;
}
#container {
  border: 1px solid red;
  width: 70%;
}
a {
  color: black;
}
.cards {
  display: flex;
}
.cards > div {
  margin-left: 20px;
  width:80%;
  padding: 10px;
}
#imageDiv {
  width: 130px;
  height: 130px;
  padding-block-end: 10px;
}
#performDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}
#imageDiv > img {
  width: 100%;
  height: 100%;
}
#starDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#starDiv > img {
  width: 68px;
  height: 20px;
}
#heartDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
}
#heartDiv > img {
  width: 20px;
  height: 20px;
}
#amountDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.perform{
  font-weight: 400;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-size: large;
}

/* Review Div */

#reviewOrder{
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  padding: 30px;
  width: 350px;
  left: 1020px;
  top:127px;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#checkout{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color:#f2b203;
  color:black;
  font-size: large;
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
}