#footer{
    /* border:1px solid red; */
    width:100%;
    height:400px;
    /* display:flex; */
    background-color:rgb(250, 241, 237)
}
#main{
    display:flex;
    /* border:1px solid teal; */
    width:80%;
    height:250px;
    margin:15px auto auto auto;
}
#upper_left{
    display:flex;
    /* border:1px solid teal; */
    width:70%;
    height:250px;
    gap:40px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 14px;
}
#upper_right{
    /* border:1px solid teal; */
    width:30%;
    height:250px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    /* margin-left: 10px; */
}
#left_one{
    margin-left: 10px;
}
#lower{
    display:flex;
    /* border:1px solid teal; */
    width:80%;
    height:100px;
    margin:20px auto auto auto;
}
#lower_left{
    width:60%;
}
#lower_left_upper{
    display:flex;
    /* border:1px solid black; */
    height:60px;
}
#lower_left_lower{
    display:flex;
    /* border:1px solid black; */
    height:35px;
}
#lower_left_upper_left{
    /* border:1px solid red; */
    width:9%;
    height:100%;
}
#lower_left_upper_left>img{
    width:100%;
    height:100%;
}
#lower_left_upper_right{
    width:100%;
}
#lower_left_upper_right_upper{
    display:flex;
    /* border:1px solid red; */
    height:25px;
    margin-left:10px;
    font-size: 12px;
    align-items: center;
}
#lower_left_upper_right_lower{
    display:flex;
    gap:15px;
    margin-left:10px;
    /* border:1px solid red; */
    height:30px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 13px;
    align-items: center;
    text-decoration:underline;
    cursor: pointer;
}
#lower_left_lower{
    /* border:1px solid red; */
    display:flex;
    font-size: 12px;
    align-items: center;
    /* gap:5px; */
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
}
#lower_right{
    /* border:1px solid teal;  */
    width:40%;
}
#lower_right_upper{
    /* border:1px solid red;  */
    display:flex;
    gap:30px;
    
}
#lower_right_upper>h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    border:1px solid rgb(138, 111, 111);
}
#lower_right_upper>h3:nth-child(1){
    display: flex;
    margin-left:50px;
    /* border:1px solid teal; */
    width:140px;
    height:30px;
    background-color: white;
    color:black;
    border-radius: 10px;
}
#lower_right_upper>h3:nth-child(2){
    display: flex;
    margin-left:30px;
    /* border:1px solid teal; */
    width:140px;
    height:30px;
    background-color: white;
    color:black;
    border-radius: 10px;
}
#lower_right_lower{
    display: flex;
    /* border:1px solid red; */
    width:5%;
    margin-left: 250px;
    gap:15px;
}
#lower_right_lower>img{
    width:100%;
}