body{
    background-color: #FAF1ED;
}
*{
    margin: 0px;
    padding: 0px;
}
#head{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #8C8C8C;
    width: 95%;
    margin:  15px auto;
}
#airDeal{
  font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    color:#000000;
}
#sear{
  font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color:#000000;

}
#s4_a{
  display: grid;
  align-content: center;
}
#s4_a>p:first-child{
  font-size: 16px;
  font-weight: 700;
  font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  color: #000000;
  margin-bottom: 20px;
}
#s4_a>p:nth-child(2){
  font-size: 12px;
  font-weight: 700;
  font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  color: #757575;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#s4_a>p:nth-child(3){
  font-size: 16px;
  font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  font-weight: 400;
}
#sear::before{
  content: "\f02b";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 10px;
}
#sear:hover{
  text-decoration: underline;
}
#flight_name{
    color: #000912;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
}
#flight_name>img{
    width: 40px;
    height: 40px;
    margin-right: 19px;
}

#mobile::before{
    font-family: "Font Awesome 5 Free";
    content: "\f879";
    font-weight: 700;
    margin-right: 10px;
}
#mobile{
    border-left: 1px solid #e3c0c0;
    padding: 0px 25px;
}
#we::before{
    font-family: "Font Awesome 5 Free";
    content: "\f109";
    
    font-weight: 700;
    /* content: "";
    display: grid;
    width: 50px;
    height: 50px;
    border: 1px solid black; */
}
#we{
    text-decoration: underline;
    border-left: 1px solid #e3c0c0;
    border-right: 1px solid #e3c0c0;
    padding: 0px 25px;
    cursor: pointer;
}
#we::after{
    font-family: "Font Awesome 5 Free";
    content: "\f0aa";
    
    font-weight: 700;
    
}
#warn::after{
    font-family: "Font Awesome 5 Free";
    content: "\f0aa";
    
    font-weight: 700;
    
}
#reviewe{
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
}
#warn{
    cursor: pointer;
    text-decoration: underline;
}
#warn::before{
    font-family: "Font Awesome 5 Free";
    content: "\f071";
    font-weight: 700;
}
#contact{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
header>div{
    margin-top: 25px;
}

header{
    background-color: white;
    width: 100vw;
    padding-bottom: 25px;
    
}
#front {
    background-image: url("https://thumbs.dreamstime.com/b/beach-sea-18378306.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100vw;
    display: grid;
    align-content: center;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px auto;
    width: 79%;
    color: black;
  }
  #menu > p {
    width: auto;
    padding-bottom: 7px;
    margin-right: 18px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
 
  #input > div:nth-child(2) > i {
    display: flex;
  }

  i {
    font-size: 20px;
    color: #b17e7e;
    margin: 0px 5px 0px 10px;
  }
  #front > h2 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  }
  #submit {
    display: block;
    background-color: #b17e7e;
    color: white;
    font-size: 20px;
    height: 100%;
    outline: none;
    width: 150px;
    width: 175px;
    border-radius: 0px 25px 25px 0px;
    font-weight: bold;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  }
  #submit:hover {
    background-color: #004f32;
  }
  #input > div > input {
    height: 100%;
    width: 90%;
    outline: none;
    display: block;
    border: none;
    margin-left: 3px;
    padding-right: 3px;
    font-size: 18px;
  }
  #input > div {
    border-right: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    padding-right: 2px;
    justify-content: stretch;
  }
  #input > div:nth-child(4) {
    width: 185px;
    border: none;

    display: flex;
    padding: 0px 5px;
  }
  #checktick {
    background-color: white;
    display: grid;
    grid-template-areas:
      "a b"
      "c c"
      "d d";
    align-items: center;
    width: 76%;
    margin: auto;
    gap: 10px;
    padding: 15px 20px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 15px;
  }
  #checktick > h4 {
    grid-area: c;
    font-size: 13px;
  }
  #checktick > div:last-child {
    grid-area: d;
  }

  #near {
    grid-area: a;
  }
  #nonStop {
    grid-area: b;
  }
  #sub_dropdown {
    display: none;
  }
  #dropdown:hover #sub_dropdown {
    display: grid;
    position: absolute;
    background-color: white;
    margin-top: 134px;
    margin-left: -16px;
    font-size: 20px;
    width: 15%;
    padding: 10px;
  }
  #sub_dropdown > select {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
  }

  #sub_dropdown > div {
    margin: 7px 0px;
    padding: 10px 0px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  #sub_dropdown > div:nth-child(2) {
    border-top: 1px solid #e0e0e0;
  }
  #sub_dropdown > div:last-child {
    border-bottom: 1px solid #e0e0e0;
  }
  #sub_dropdown > div > div > i:hover {
    cursor: pointer;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    margin-right: 7px;

    background-color: white;
    width: 18px;
    height: 18px;
    outline: none;
    cursor: pointer;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
  }
  input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 13px;
    color: white;

    display: none;
  }
  input[type="checkbox"]:checked {
    background-color: #000000;
  }
  input[type="checkbox"]:checked:after {
    display: block;
  }





 
  #nonStop,
  #near,
  #l3 {
    display: flex;
    align-items: center;
  }
  #l3 > input:nth-child(3) {
    margin-left: 19px;
  }
  #l5 {
    margin-left: 25px;
  }
  .review {
    position: relative;
    padding: 25px;
  }
  .review > img {
    position: absolute;
    top: 0px;
    left: 35%;

    width: 125px;
  }
  .review > div {
    border: 1px solid #b17e7e;
    padding: 45px 25px 25px 25px;
    text-align: center;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  }
  .review > div > h3 {
    color: #b17e7e;
  }
  #rating {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0px 45px;
    margin-top: 25px;
  }
  .heading {
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
  }
  .body {
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
   #input {
    background-color: white;
    padding-left: 15px;
    display: flex;
    outline: none;
    width: 85%;
    margin: 15px auto;
    height: 45px;
    border-radius: 25px;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid;
  }
  #section{
    margin: 150px auto;
   background-color: white; 
   width: 85%;
   padding: 25px 0px;
   border: 1px soli #ebdbd5;
    
  }
  .o{
    font-size: 28px;
    font-weight: 700;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    grid-area: o;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebdbd5;
  }
  .s4{
    width:65%;
    background-color: white;
    margin-left: 45px;
    padding: 20px;
    border-top: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "o o"
    "r a";
    gap: 25px;
  }
  .win>div{
    display: flex;
    align-items: center;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0px  ;
  }
  .win>div>img{
    width: 15px;
    height: 10px;
    margin-right: 7px;
  }
  #s4_r>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  #s4_r>div:first-child>div{
    display: flex;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
  }
  #s4_r>div:first-child>div>img{
    width: 130px;
  }
  #s4_r{
    grid-area: r;
  }
  #s4_a{
    grid-area: a;
  }
  .s5{
    width:65%;
    background-color: white;
    margin-left: 45px;
    padding: 75px 20px 20px 20px;
    margin-top: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat( 2fr 1fr);
    grid-template-areas: 
    "o o";

  }
  #s5_Tr>div, .he{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    
  }
  #s5_LC{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  #s5_LC>div:first-child{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    
  }
  #s5_LC>div:first-child>div{
    display: flex;
    align-content: space-between;
    font-size: 14px;
    font-weight: 400;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    color: #000000;
  }
  #s4{
    width:65%;
    background-color: white;
    margin-left: 45px;
   border: 1px solid black;
    margin-top: 25px;
    display: flex;
    padding: 8px;
    
  }
  #s4::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f002";
    font-size: 25px;
    
  }
  #s4>input{
    outline: none;
    border: none;
    font-size: 18px;
    width: 100%;
    
  }
  .list{
    display: flex;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-top: 5px;
    justify-content: space-between;
    border-top: 1px solid #e3c0c0;
  }